.skewed-bg-text {
    position: relative;
    display: inline-block;
    padding: 4px; /* Adjust as needed */
  }
  
  .skewed-bg-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF7E4B;
    transform: skewY(-3deg); /* Adjust the skew angle as needed */
    z-index: -1;
    display: block;
    word-spacing: -4px;
  }